@import url(//db.onlinewebfonts.com/c/c4031f1c84aa3fac3bbaa75f810c160e?family=Countryside);

.container {
  background-color: #68c9ff;
  height: 90vh;
  box-shadow: 0px 6px 19px rgba(0, 0, 0, 0.5);
  border-radius: 82px;
  width: 95%;
  margin: 5vh auto;
}

.container h1 {
  font-size: 80px;
  /* font-family: "Countryside", cursive; */
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.container small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  /* font-family: "Lobster", cursive; */
  color: white;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.content {
  height: 60vh;
  width: 80%;
  margin: 5vh auto;
  border-radius: 82px;
  background-color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.48);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

.content h2 {
  width: 100%;
  padding-top: 1.5em;
  text-align: center;
  font-size: 45px;
  color: #68c9ff;
  line-height: 140%;
}

.content button {
  background-color: #68c9ff;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  width: 50%;
  cursor: pointer;
  margin-top: 1em;
  height: 3em;
  border-radius: 26px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 2px rgba(84, 84, 84, 0.3);
  transition: 0.6s;
}

.content button:hover {
  background-color: rgb(0, 190, 190);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(202, 202, 202, 0.25);
}
